@font-face
{font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }


body{
    overflow-x:hidden;
    font-family: 'EricssonHilda-Light';
}

.navbar{

    background-color:#000000;
    overflow: hidden;
    height: 63
    px;
}

.navbar a{
    float:left;
    display:block;
    color:#fff;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 30px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    display:block;
    transition:0.7s;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

p{
    font-size: 40px;
    color: black;
    text-align: center;
    vertical-align: baseline;
    background-color: white;


}