@font-face { 
    font-family: 'EricssonHilda-Regular';
    src: url('fonts/EricssonHilda-Regular.ttf') format('TrueType');
    }

@font-face { 
    font-family: 'EricssonHilda-Light';
    src: url('fonts/EricssonHilda-Light.ttf') format('TrueType');
    }
@font-face { 
    font-family: 'EricssonHilda-Medium';
    src: url('fonts/EricssonHilda-Medium.ttf') format('TrueType');
    }
 @font-face { 
    font-family: 'EricssonHilda-Bold';
    src: url('fonts/EricssonHilda-Bold.ttf') format('TrueType');
    }

body /*{font-family: Arial, Helvetica, sans-serif;}*/

{font-family: 'EricssonHilda-Light';}
        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        h1
        {
            font-family: 'EricssonHilda-Bold';
            color:#FFFFFF;
            font-size: 1em;
            background: none;
            width: 100%;
        }
    
            
        h2
        {
            font-family: 'EricssonHilda-Bold';
            color:#000000;
            font-size: 1em;
            background: none;
            width: 100%;
        }
        h3
        {
            font-family: 'EricssonHilda-Bold';
            columns: #000000;;
            font-size: 1em;
            background: none;
            width: 100%;
        }
    span
    {
       font-family: 'EricssonHilda-Bold';
                color:#000000;
    }
    
    label
    {
       font-family: 'EricssonHilda-Light';
                color:#000000;
    }
        
        /* Set a style for all buttons */
        button {
            font-family: 'EricssonHilda-Bold';
            color: #f35041;
            font-size: 1em;
            background: white;
            padding: .5em 1em;
            text-align: center;
            border: solid 2px #f35041;
            cursor: pointer;
            width: 100%;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
        /* Extra styles for the cancel button */
        .cancelbtn {
            font-family: 'Montserrat', sans-serif;
            width: auto;
            padding: .5em 1em;
            color: #f35041;
            background: white;
            border: solid 2px #f35041;
        }
        
        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }
       
            
        .container {
            padding: 16px;
        }
        
        span.psw {
            float: right;
            padding-top: 16px;
        }
        
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
        }
        
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 90%; /* Could be more or less, depending on screen size */
        }
        
        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }
        
        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }
        
        @-webkit-keyframes animatezoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
            
        @keyframes animatezoom {
            from {transform: scale(0)} 
            to {transform: scale(1)}
        }
        
        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
               display: block;
               float: none;
            }
            .cancelbtn {
               width: 100%;
            }
        }

        img.avatar {
            display: block;
            width: 10%;
            height:10%;
            position: relative;
            margin: auto;
            border-radius:20px; 
        }