
@font-face{

    font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }
   body   
   {font-family: 'EricssonHilda-Light';}

   #main{
    transition:margin-left 0.5s;
  
    overflow: hidden;
    width: 100%;
}


.grid > div {               /*Homepage*/
  padding:1em;
   

}

.grid {                     /*Homepage*/
    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto ;
    grid-template-areas: "top top top"
                         "middle-left middle-middle middle-right"
                         "bottom-left bottom-middle bottom right";
    text-align: center;
}

@media screen and (max-width: 800px){
    .grid{
        grid-template-columns: 50% 50%;
    grid-auto-rows: auto ;
    grid-template-areas: "top top"
                         "middle-left middle-right"
                         "bottom-left bottom right";
    text-align: center;
    }
}

@media screen and (max-width: 500px){
    .grid{
        grid-template-columns: 100%;
    grid-auto-rows: auto ;
    grid-template-areas: "top";
    text-align: center;
    }

    
}




body{
	text-align: center;
	
  font-family: 'EricssonHilda-Light';
  font-weight: 100;}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: 'EricssonHilda-Light';
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.navbar {
    background-color: #000;
    overflow: hidden;
    height:63px;
    
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
    color:#f2f2f2;
    font-family: 'EricssonHilda-Regular';
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 10px 10px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    transition:0.7s;
    float: left;
    font-family: 'EricssonHilda-Regular';
    text-align: left;
}


.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

.side-nav ul li{
    text-align:left;
    text-decoration: none;
    list-style: none;
    padding:1em;
}
@media screen and (max-width: 800px){
    .navbar {
       background-color:white;
    }

    .navbar a{
        color:white;
    }
}

@media screen and (min-width:800px){
    .open-slide{
        display:none;
    }
}

img  {
    display: block;
    width: 100%;
    height:80%;
    position: relative;
    margin: auto;
    border-radius:5px; 
}
#little{
    display: block;
    width: 500%;
    height:100%;
    position: relative;
    margin: auto;
    border-radius:5px; 
}

.Banner {               /*Style for Homepage*/
    display: block;
    width: 100%;
    height:80%;
    position: relative;
    margin: auto;
}

.Tiles {                 /*Style for Homepage*/
    display: block;
    width: 90%;
    height:80%;
    position: relative;
    margin: auto;
    border-radius:20px; 
}

#about{
    background-image: url("/images/1111.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
    text-align: left;
    color: white;
    float: left;
    font-family: 'EricssonHilda-Regular';
  }

  table.events {  
    text-align: left;        /*for demodetails*/
    margin-left:auto; 
    margin-right:auto;
    color: black;
    border-collapse: collapse;
    border: 5px solid #0082f0;
    font-size: 40px;
    display: block;
    width: auto;
    height:auto;
    position: relative;
    margin: auto;
    border-radius:35px; 
    font-family: 'EricssonHilda-Regular';
    padding: 20px;
    

} 







#bioText{
    font-family: 'EricssonHilda-Regular';
    font-size: 25px;
    padding: 20px;
    background-color: #0fc373;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.modal-content {            /*demodetails*/
    padding:9px 15px;
    background-color: #0fc373;
     border-radius: 30px;
     text-align: center;
     font-family: 'EricssonHilda-Regular';
     
 }
td.ONE{
    padding-top: 25px;
}
td.TWO{
    text-align: justify;
}


button.Fav{
    
    background-color: #Af78D2;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    
    font-size: 20px;
    border-radius: 20px;
    font-family: 'EricssonHilda-Regular';
    height:50%;
    width: 50%;

}

button.Host{
    background-color: #fad22d;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    margin: 2px 10px;
    height:auto;
    width: auto;
}



table.events, tbody, tr, td {
    vertical-align: top;
}

body {text-align:left;}

.count {                   /*countdown on upcoming events*/
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: 33px;
    position: relative;
    top: 33%;
    width: 100%;
    padding-top: 10px;
    border-style: solid ;
    border-color: white;
    border-width: 10px;
    text-align: center;
    background-color: white;
    font-size: 50px; 
    font-family: 'EricssonHilda-Regular';
}

.grid1 > div {               /*events*/
    padding:1em;
  }
  
  .grid1 {                   /*events*/
      display: grid;
  
      grid-template-columns: 100%;
      grid-auto-rows: auto ;
      grid-template-areas: "top "
                           "middle-left"
                           "bottom-left";
      text-align: center;
  }

  .center {                    /*fav*/
    margin:auto ;
    width: 40%;
    border: 4px solid black;
    margin-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

p3{                                 /*fav*/
    font-size: 40px;
    color: black;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
    font-family: 'EricssonHilda-Regular';
}

p {                            /*Tech Day is in...*/
    margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-family: 'EricssonHilda-Light';
}

                         /*Tech Day is in... p{
    font-size: 20px;
    text-align: center;
    font-family: 'EricssonHilda-Light';
    font-weight: bold;
}*/

footer {                        /*countdown*/
    border-style: solid ;
    border-color: white;
    border-width: 10px;
    text-align: center;
    background-color: white;
    font-size: 50px; 
    font-family: 'EricssonHilda-Regular';
}


table.map{                           /*Maps*/
    text-align: left;
    font-family:'EricssonHilda-Regular';
    font: 30px;
    padding: 10%
}
tr#THREE{
    font-family:'EricssonHilda-Bold';
}


button.zoneOne{
    font-size: 20px;
}
button.zoneTwo{
    font-size: 20px;
}
button.zoneThree{
    font-size: 20px;
}
button.zoneFour{
    font-size: 20px;
}
button.zoneFive{
    font-size: 20px;
}
button.zoneSix{
    font-size: 20px;
}
button.zoneSeven{
    font-size: 20px;
}
button.zoneEight{
    font-size: 20px;
}
button.zoneNine{
    font-size: 20px;
}
button{                         
    position:sticky;
    width: 90%;
    height:80%;
    position:sticky;
    border-radius:20px; 
    padding:30px;
    font-family:'EricssonHilda-Regular';
    color:white;
}
/*All Page */
.searchGrid {                     /*Allpage*/
    display: grid;
    padding-top: 5px;

    grid-template-columns: 25% 50% 25%;
    grid-auto-rows: auto ;
    grid-template-areas: "top top top";
                         
    text-align: center;
}

@media screen and (max-width: 500px){
    .searchGrid{
        grid-template-columns: 100%;
    grid-auto-rows: auto ; 
    grid-row-gap: 8px; 
    grid-template-areas: "top";
    text-align: center;
    }

    
}
#searchSelect { 
    display: inline-block;
    width: 90%;
    height:100%;
    border-radius:20px; 
    padding:15px;
    margin-right:-4px;
    font-family:'EricssonHilda-Regular';
    background-color: #0082f0;
    color: white;
    border: none; 
    font-size: 20px;
}

#searchButton{
    display: inline-block;
    width: 90%;
    height:100%;
    border-radius:20px; 
    padding:15px;
    font-family:'EricssonHilda-Regular';
    background-color: #0082f0;
    color: white;
    border: none;
    position: relative;
    font-size: 20px;
}
#inputbox{
    display: inline-block;
    width: 90%;
    height:70%;
    position: relative;
    border-radius:20px; 
    padding: 7px;
    border: solid 1px gray;
    font-family:'EricssonHilda-Regular';
    font-size: 20px;

}
.zoneOne{
    background-color: #FF3232;
    font-family: "EricssonHilda-Regular";  
}
.zoneTwo{
    background-color: #FF8C0A;
    font-family: "EricssonHilda-Regular";
}
.zoneThree{
    background-color: #FAD22D;
    font-family: "EricssonHilda-Regular";
}
.zoneFour{
    background-color: #0FC373;
    font-family: "EricssonHilda-Regular";
}
.zoneFive{
    background-color: #0082F0;
    font-family: "EricssonHilda-Regular";
}.zoneSix{
    background-color: #AF78D2;
    font-family: "EricssonHilda-Regular";
}.zoneSeven{
    background-color: #e0c240;
    font-family: "EricssonHilda-Regular";
}
.zoneEight{
    background-color: #c27527 ;
    font-family: "EricssonHilda-Regular";
}
.zoneNine{
    background-color: #5c1733;
    font-family: "EricssonHilda-Regular";
}
#zoneOne2{
    background-color: #FF3232;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneTwo2{
    background-color: #FF8C0A ;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneThree2{
    background-color: #FAD22D;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneFour2{
    background-color: #0FC373;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneFive2{
    background-color: #0082F0;
    color: white;
    font-family: "EricssonHilda-Regular";
}#zoneSix2{
    background-color: #AF78D2;
    color: white;
    font-family: "EricssonHilda-Regular";
}#zoneSeven2{
    background-color: #e0c240;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneEight2{
    background-color: #c27527 ;
    color: white;
    font-family: "EricssonHilda-Regular";
}
#zoneNine2{
    background-color: #5c1733;
    color: white;
    font-family: "EricssonHilda-Regular";
}

.address{
    font-family: "EricssonHilda-Regular";
    font-size: 17px;
    text-align: center;
    position: relative;
    margin: auto;
    border: 5px solid #111;
    display: grid;
    border-radius:20px; 
    background-color: #111;
    color:white;
    width: 90%;
  
}

#mySelect {
    display: inline-block;
    background-color: #0fc373;
    color: white;
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 20px;
    font-family: "EricssonHilda-Regular";
    border-color: white;
}

#typeSelect {
    background-color: #0fc373;
    color: white;
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
    font-size: 20px;
    font-family: "EricssonHilda-Regular";
    border-color: white;
}

/*login*/
/* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        h1
        {
            font-family: 'EricssonHilda-Bold';
            color:#FFFFFF;
            font-size: 1em;
            background: none;
            width: 100%;
        }
    
            
        h2
        {
            font-family: 'EricssonHilda-Bold';
            color:#000000;
            font-size: 1em;
            background: none;
            width: 100%;
        }
        h3
        {
            font-family: 'EricssonHilda-Bold';
            columns: #000000;;
            font-size: 1em;
            background: none;
            width: 100%;
        }
    span
    {
       font-family: 'EricssonHilda-Bold';
                color:#000000;
    }
    
    label
    {
       font-family: 'EricssonHilda-Light';
                color:#000000;
    }
        
        /* Set a style for all buttons */
        button {
            font-family: 'EricssonHilda-Bold';
            color:black;
            font-size: 1em;
            background: white;
            padding: .5em 1em;
            text-align: center;
            border: solid 2px white;
            cursor: pointer;
            width: 100%;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
        /* Extra styles for the cancel button */
        .cancelbtn {
            font-family: 'Montserrat', sans-serif;
            width: auto;
            padding: .5em 1em;
            color: black;
            background: white;
            border: solid 2px black;
        }
        
        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
            color: white;
        }
       
            
        .container {
            padding: 16px;
        }
        
        span.psw {
            float: right;
            padding-top: 16px;
        }
        
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
        }
        
        /* Modal Content/Box */
        .modal-content {
            background-color: #0fc373;
            margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 90%; /* Could be more or less, depending on screen size */
        }
        
        /* The Close Button (x) */
        .close {
            position: relative;
            right: 25px;
            top: 0;
            color: white;
            font-size: 35px;
            font-weight: bold;
        }
        
        /*.close {
            color: black;
            cursor: pointer;
        }*/
        
        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }
        
        @-webkit-keyframes animatezoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
            
        @keyframes animatezoom {
            from {transform: scale(0)} 
            to {transform: scale(1)}
        }
        
        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
               display: block;
               float: none;
            }
            .cancelbtn {
               width: 100%;
            }
        }

        img.avatar {
            display: block;
            width: 10%;
            height:10%;
            position: relative;
            margin: auto;
            border-radius:20px; 
        }