body{
    overflow-x:hidden;
}

.navbar{

    background-color:#000000;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float:left;
    display:block;
    color:#fff;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
    text-align: center;
}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 30px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    display:block;
    transition:0.7s;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

@media(max-width:760px){
    .navbar-nav{display:none}
}

#main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow: hidden;
    width: 100%;
}

img  {
    display: block;
    width: 90%;
    height:80%;
    position: relative;
    margin: auto;
    border-radius:20px; 
}

#about{
    background-color: white;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
    text-align: left;
    color: #111;
    float: left;
  }
