@font-face
{font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }
   body   
   {font-family: 'EricssonHilda-Light';}

   @font-face
{font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }

body,h1
{font-family: 'EricssonHilda-Light';}

p{
  margin-left: 10px;
}
#zone1
{    text-align: center;}

h2
{
  font-family: 'EricssonHilda-Bold';
  font-size: 25px;
}

.map
{
    text-align: center;
    margin: auto;
    border-radius:20px;
}
.w3-container
{
    text-align: center;
    font-family: 'EricssonHilda-Bold';
}


img.map
{
     width: 100%;
	height: auto;
    margin: auto;
    border-radius:20px;
}

.navbar {
    background-color: #111;
    overflow: hidden;
    height:63px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
    color:#f2f2f2;
    font-family: 'EricssonHilda-Regular';
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 10px 10px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    transition:0.7s;
    float: left;
    font-family: 'EricssonHilda-Regular';
    text-align: left;
}


.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

.side-nav ul li{
    text-align:left;
    text-decoration: none;
    list-style: none;
    padding:1em;
}


#main{
    transition:margin-left 0.7s;
    padding:20px;
    overflow: hidden;
    width: 100%;
}


@media screen and (max-width: 800px){
    .navbar {
       background-color:white;
    }

    .navbar a{
        color:white;
    }
}

@media screen and (min-width:800px){
    .open-slide{
        display:none;
    }
}

