@font-face
{font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }

   @font-face
{font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }

body{
    overflow-x:hidden;
    font-family: 'EricssonHilda-Light';
}


.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 10px 10px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    transition:0.7s;
    float: left;
    font-family: 'EricssonHilda-Regular';
    text-align: left;
}


.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

.side-nav ul li{
    text-align:left;
    text-decoration: none;
    list-style: none;
    padding:1em;
}


@font-face { 
    font-family: 'EricssonHilda-Regular';
    src: url('fonts/EricssonHilda-Regular.ttf') format('TrueType');
    }

@font-face { 
    font-family: 'EricssonHilda-Light';
    src: url('fonts/EricssonHilda-Light.ttf') format('TrueType');
    }
@font-face { 
    font-family: 'EricssonHilda-Medium';
    src: url('fonts/EricssonHilda-Medium.ttf') format('TrueType');
    }
 @font-face { 
    font-family: 'EricssonHilda-Bold';
    src: url('fonts/EricssonHilda-Bold.ttf') format('TrueType');
    }

body,h1,h2,h3,h4 
{font-family: 'EricssonHilda-Light';}
.mySlides {display:none}
.tag, .fa {cursor:pointer}
.tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:6px;
}
p{
  margin-left: 10px;
  margin-right: 10px;
}

span
{
  font-family: 'EricssonHilda-Bold';
}

video{
width: 100%;
height: auto;
}
    

.navbar {
    background-color: #111;
    overflow: hidden;
    height:63px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
    color:#f2f2f2;
    font-family: 'EricssonHilda-Regular';
    text-align: left;
}

.navbar ul{
    margin:8px 0 0 0;
    list-style:none;
}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:1s;
}

.side-nav a{
    padding:10px 10px 10px 10px 10px 10px 10px;
    text-decoration: none;
    font-size:22px;
    color:#fff;
    transition:0.7s;
    float: left;
    font-family: 'EricssonHilda-Regular';
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

.side-nav ul li{
    text-align:left;
    text-decoration: none;
    list-style: none;
    padding:1em;
}


#main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow: hidden;
    width: 100%;
}


@media screen and (max-width: 800px){
    .navbar {
       background-color:white;
    }

    .navbar a{
        color:white;
    }
}

@media screen and (min-width:800px){
    .open-slide{
        display:none;
    }
}

.grid > div {
    padding:1em;
}
  
  .grid {
      display: grid;
  
      grid-template-columns: 50% 50%;
      grid-auto-rows: auto;
      grid-template-areas: "top top "
                           "middle-left  middle-right"
                           "bottom-left  bottom right";
      text-align: center;
  }

  .grid1 {
    background-color: #4CAF50;
    color: white;
    width: 90%;
    height:80%;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius:20px;
    padding: 20px 20px; 
  }

  .grid2 {
    background-color: #3f51b5;
    color: white;
    width: 90%;
    height:80%;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius:20px;
    padding: 20px 20px; 
  }

  .grid3 {
    background-color: #f44336;
    color: white;
    width: 90%;
    height:80%;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius:20px;
    padding: 20px 20px; 
  }

  .grid4 {
    background-color: #ff5722;
    color: white;
    width: 90%;
    height:80%;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius:20px;
    padding: 20px 20px;
  }
  
  @media screen and (max-width: 670px){
      .grid{
          grid-template-columns:100%;
      grid-auto-rows: auto ;
      grid-template-areas: "top";
      text-align: center;
      }
  }
  
  
  .ambitions{
      text-align: center;
  }
      
  
.content {
    max-width:980px;
    margin:auto;
}

.panel {
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;
}

.display-container {
    position:relative;
}

.padding-32 {
    padding-top:32px!important;
    padding-bottom:32px!important;
}

.display-topleft {
    position:absolute;
    left:0;
    top:0
}

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.display-topright {
    position:absolute;
    right:0;
    top:0;
}

.padding {
    padding:8px 16px!important;
}

.xlarge {
    font-size:24px!important;
    border-bottom:6px solid #ccc;
}

.left {
    float:left!important;
}

.right {
    float:right!important;
}

.center {
    text-align:center!important;
}

.tag {
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}

.border {
    border:1px solid #ccc!important;
}
