@font-face{
    font-family: 'EricssonHilda-Regular';
   src: url('fonts/EricssonHilda-Regular.otf') format('OpenType');
   }

@font-face {
   font-family: 'EricssonHilda-Light';
   src: url('fonts/EricssonHilda-Light.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Medium';
   src: url('fonts/EricssonHilda-Medium.otf') format('OpenType');
   }
@font-face {
   font-family: 'EricssonHilda-Bold';
   src: url('fonts/EricssonHilda-Bold.otf') format('OpenType');
   }
   body   
   {font-family: 'EricssonHilda-Light';}
#main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow: hidden;
    width: 100%;
}


.grid > div {
  padding:1em;
   

}

.grid {
    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto ;
    grid-template-areas: "top top top"
                         "middle-left middle-middle middle-right"
                         "bottom-left bottom-middle bottom right";
    text-align: center;
}

@media screen and (max-width: 670px){
    .grid{
        grid-template-columns: 50% 50%;
    grid-auto-rows: auto ;
    grid-template-areas: "top top"
                         "middle-left middle-right"
                         "bottom-left bottom right";
    text-align: center;
    }
}

@media screen and (max-width: 415px){
    .grid{
        grid-template-columns: 100%;
    grid-auto-rows: auto ;
    grid-template-areas: "top";
    text-align: center;
    }

    
}

img {
    display: block;
    width: 90%;
    height:80%;
    position: relative;
    margin: auto;
    border-radius:20px; 
}

body{
	text-align: center;
	
  font-family: 'EricssonHilda-Light';
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: 'EricssonHilda-Light';
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

footer {
    border-style: solid ;
    border-color: white;
    border-width: 10px;
    text-align: center;
    background-color: white;
    font-size: 50px; 
}

p2 {
    font-size: 20px;
    font-family: 'EricssonHilda-Light';
    font-weight: bold;
}
